AWS/step_functions/data-workflow-defenition-template.json
{
  "Comment": "State Machine for Data Transfer and Processing",
  "StartAt": "GetLatestRawDataTransferTaskDefinition",
  "States": {
    "GetLatestRawDataTransferTaskDefinition": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:381491949871:function:latestTaskDefinition",
      "Parameters": {
        "task_def_name": "raw-data-transfer-${ENVIRONMENT}"
      },
      "ResultPath": "$.rawDataTransferTaskDef",
      "Next": "RawDataTransferTask",
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "BackoffRate": 2,
          "IntervalSeconds": 5,
          "MaxAttempts": 3,
          "MaxDelaySeconds": 120,
          "JitterStrategy": "FULL"
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.error-info",
          "Next": "FailState"
        }
      ],
      "TimeoutSeconds": 300
    },
    "RawDataTransferTask": {
      "Type": "Task",
      "Resource": "arn:aws:states:::ecs:runTask.sync",
      "Parameters": {
        "LaunchType": "FARGATE",
        "Cluster": "arn:aws:ecs:us-east-1:381491949871:cluster/styx-nlp-server",
        "TaskDefinition.$": "$.rawDataTransferTaskDef.latest_revision",
        "NetworkConfiguration": {
          "AwsvpcConfiguration": {
            "Subnets": [
              "subnet-0de64508bed2d94b5",
              "subnet-0b34bfb024fa1325b",
              "subnet-0896b9f71c46c3601",
              "subnet-02748651014762c9c",
              "subnet-01fc8731fbcc2def3",
              "subnet-00f05101da53ee352"
            ],
            "SecurityGroups": [
              "sg-03682fe5c7a94d94f"
            ],
            "AssignPublicIp": "ENABLED"
          }
        }
      },
      "Next": "sentimentProcessingLambda",
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "BackoffRate": 2,
          "IntervalSeconds": 5,
          "MaxAttempts": 3,
          "MaxDelaySeconds": 120,
          "JitterStrategy": "FULL"
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.error-info",
          "Next": "FailState"
        }
      ],
      "TimeoutSeconds": 300
    },
    "sentimentProcessingLambda": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:381491949871:function:sentimentProcessingLambda:$LATEST",
        "Payload": {
          "environment": {
            "Variables": {
              "ENVIRONMENT": "${ENVIRONMENT}"
            }
          }
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "IntervalSeconds": 5,
          "MaxAttempts": 3,
          "BackoffRate": 2,
          "MaxDelaySeconds": 120,
          "JitterStrategy": "FULL"
        }
      ],
      "Next": "IsNewDataSentiment",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "FailState",
          "ResultPath": "$.error-info"
        }
      ],
      "TimeoutSeconds": 300
    },
    "IsNewDataSentiment": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.message",
          "IsPresent": true,
          "Next": "summaryProcessingLambda"
        }
      ],
      "Default": "GetLatestSentimentProcessingTaskDefinition"
    },
    "GetLatestSentimentProcessingTaskDefinition": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:381491949871:function:latestTaskDefinition",
      "Parameters": {
        "task_def_name": "sentiment-result-data-transfer-${ENVIRONMENT}"
      },
      "ResultPath": "$.sentimentProcessingTaskDef",
      "Next": "SentimentResultDataTransferTask",
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "BackoffRate": 2,
          "IntervalSeconds": 5,
          "MaxAttempts": 3,
          "MaxDelaySeconds": 120,
          "JitterStrategy": "FULL"
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.error-info",
          "Next": "FailState"
        }
      ],
      "TimeoutSeconds": 300
    },
    "SentimentResultDataTransferTask": {
      "Type": "Task",
      "Resource": "arn:aws:states:::ecs:runTask.sync",
      "Parameters": {
        "LaunchType": "FARGATE",
        "Cluster": "arn:aws:ecs:us-east-1:381491949871:cluster/styx-nlp-server",
        "TaskDefinition.$": "$.sentimentProcessingTaskDef.latest_revision",
        "NetworkConfiguration": {
          "AwsvpcConfiguration": {
            "Subnets": [
              "subnet-0de64508bed2d94b5",
              "subnet-0b34bfb024fa1325b",
              "subnet-0896b9f71c46c3601",
              "subnet-02748651014762c9c",
              "subnet-01fc8731fbcc2def3",
              "subnet-00f05101da53ee352"
            ],
            "SecurityGroups": [
              "sg-03682fe5c7a94d94f"
            ],
            "AssignPublicIp": "ENABLED"
          }
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "BackoffRate": 2,
          "IntervalSeconds": 5,
          "MaxAttempts": 3,
          "MaxDelaySeconds": 120,
          "JitterStrategy": "FULL"
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "FailState",
          "ResultPath": "$.error-info"
        }
      ],
      "TimeoutSeconds": 300,
      "Next": "summaryProcessingLambda"
    },
    "summaryProcessingLambda": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:381491949871:function:summaryProcessingLambda:$LATEST",
        "Payload": {
          "environment": {
            "Variables": {
              "ENVIRONMENT": "${ENVIRONMENT}"
            }
          }
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "IntervalSeconds": 5,
          "MaxAttempts": 3,
          "BackoffRate": 2,
          "MaxDelaySeconds": 120,
          "JitterStrategy": "FULL"
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "FailState",
          "ResultPath": "$.error-info"
        }
      ],
      "TimeoutSeconds": 300,
      "Next": "IsNewDataSummary"
    },
    "IsNewDataSummary": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.message",
          "IsPresent": true,
          "Next": "Pass"
        }
      ],
      "Default": "GetLatestSummaryProcessingTaskDefinition"
    },
    "GetLatestSummaryProcessingTaskDefinition": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:381491949871:function:latestTaskDefinition",
      "Parameters": {
        "task_def_name": "summary-result-data-transfer-${ENVIRONMENT}"
      },
      "ResultPath": "$.summaryProcessingTaskDef",
      "Next": "SummaryResultDataTransferTask",
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "BackoffRate": 2,
          "IntervalSeconds": 5,
          "MaxAttempts": 3,
          "MaxDelaySeconds": 120,
          "JitterStrategy": "FULL"
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.error-info",
          "Next": "FailState"
        }
      ],
      "TimeoutSeconds": 300
    },
    "Pass": {
      "Type": "Pass",
      "End": true
    },
    "SummaryResultDataTransferTask": {
      "Type": "Task",
      "Resource": "arn:aws:states:::ecs:runTask.sync",
      "Parameters": {
        "LaunchType": "FARGATE",
        "Cluster": "arn:aws:ecs:us-east-1:381491949871:cluster/styx-nlp-server",
        "TaskDefinition.$": "$.summaryProcessingTaskDef.latest_revision",
        "NetworkConfiguration": {
          "AwsvpcConfiguration": {
            "Subnets": [
              "subnet-0de64508bed2d94b5",
              "subnet-0b34bfb024fa1325b",
              "subnet-0896b9f71c46c3601",
              "subnet-02748651014762c9c",
              "subnet-01fc8731fbcc2def3",
              "subnet-00f05101da53ee352"
            ],
            "SecurityGroups": [
              "sg-03682fe5c7a94d94f"
            ],
            "AssignPublicIp": "ENABLED"
          }
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "BackoffRate": 2,
          "IntervalSeconds": 5,
          "MaxAttempts": 3,
          "MaxDelaySeconds": 120,
          "JitterStrategy": "FULL"
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "FailState",
          "ResultPath": "$.error-info"
        }
      ],
      "TimeoutSeconds": 300,
      "End": true
    },
    "FailState": {
      "Type": "Fail",
      "ErrorPath": "$.error-info.Error",
      "CausePath": "$.error-info.Cause"
    }
  }
}