AWS/step_functions/data_workflow_defenition_test.json
{
    "Comment": "State Machine for Data Transfer and Processing",
    "StartAt": "RawDataTransferTaksTEST",
    "States": {
      "RawDataTransferTaksTEST": {
        "Type": "Task",
        "Resource": "arn:aws:states:::ecs:runTask.sync",
        "Parameters": {
          "LaunchType": "FARGATE",
          "Cluster": "arn:aws:ecs:us-east-1:381491949871:cluster/styx-nlp-server",
          "TaskDefinition": "arn:aws:ecs:us-east-1:381491949871:task-definition/raw-data-transfer-test:6",
          "NetworkConfiguration": {
            "AwsvpcConfiguration": {
              "Subnets": [
                "subnet-0de64508bed2d94b5",
                "subnet-0b34bfb024fa1325b",
                "subnet-0896b9f71c46c3601",
                "subnet-02748651014762c9c",
                "subnet-01fc8731fbcc2def3",
                "subnet-00f05101da53ee352"
              ],
              "SecurityGroups": [
                "sg-03682fe5c7a94d94f"
              ],
              "AssignPublicIp": "ENABLED"
            }
          }
        },
        "Next": "sentimentProcessingLambdaTest",
        "Retry": [
          {
            "ErrorEquals": [
              "States.ALL"
            ],
            "BackoffRate": 2,
            "IntervalSeconds": 5,
            "MaxAttempts": 3,
            "MaxDelaySeconds": 120,
            "JitterStrategy": "FULL"
          }
        ],
        "Catch": [
          {
            "ErrorEquals": [
              "States.ALL"
            ],
            "ResultPath": "$.error-info",
            "Next": "FailState"
          }
        ],
        "TimeoutSeconds": 300
      },
      "FailState": {
        "Type": "Fail",
        "ErrorPath": "$.error-info.Error",
        "CausePath": "$.error-info.Cause"
      },
      "sentimentProcessingLambdaTest": {
        "Type": "Task",
        "Resource": "arn:aws:states:::lambda:invoke",
        "OutputPath": "$.Payload",
        "Parameters": {
          "FunctionName": "arn:aws:lambda:us-east-1:381491949871:function:sentimentProcessingLambdaTest:$LATEST"
        },
        "Retry": [
          {
            "ErrorEquals": [
              "States.ALL"
            ],
            "IntervalSeconds": 5,
            "MaxAttempts": 3,
            "BackoffRate": 2,
            "MaxDelaySeconds": 120,
            "JitterStrategy": "FULL"
          }
        ],
        "Next": "SentimentResultDataTransferTaksTEST",
        "Catch": [
          {
            "ErrorEquals": [
              "States.ALL"
            ],
            "Next": "FailState",
            "ResultPath": "$.error-info"
          }
        ],
        "TimeoutSeconds": 300
      },
      "SentimentResultDataTransferTaksTEST": {
        "Type": "Task",
        "Resource": "arn:aws:states:::ecs:runTask.sync",
        "Parameters": {
          "LaunchType": "FARGATE",
          "Cluster": "arn:aws:ecs:us-east-1:381491949871:cluster/styx-nlp-server",
          "TaskDefinition": "arn:aws:ecs:us-east-1:381491949871:task-definition/sentiment-result-data-transfer-test:2",
          "NetworkConfiguration": {
            "AwsvpcConfiguration": {
              "Subnets": [
                "subnet-0de64508bed2d94b5",
                "subnet-0b34bfb024fa1325b",
                "subnet-0896b9f71c46c3601",
                "subnet-02748651014762c9c",
                "subnet-01fc8731fbcc2def3",
                "subnet-00f05101da53ee352"
              ],
              "SecurityGroups": [
                "sg-03682fe5c7a94d94f"
              ],
              "AssignPublicIp": "ENABLED"
            }
          }
        },
        "Retry": [
          {
            "ErrorEquals": [
              "States.ALL"
            ],
            "BackoffRate": 2,
            "IntervalSeconds": 5,
            "MaxAttempts": 3,
            "MaxDelaySeconds": 120,
            "JitterStrategy": "FULL"
          }
        ],
        "Catch": [
          {
            "ErrorEquals": [
              "States.ALL"
            ],
            "Next": "FailState",
            "ResultPath": "$.error-info"
          }
        ],
        "TimeoutSeconds": 300,
        "Next": "summaryProcessingLambdaTest"
      },
      "summaryProcessingLambdaTest": {
        "Type": "Task",
        "Resource": "arn:aws:states:::lambda:invoke",
        "OutputPath": "$.Payload",
        "Parameters": {
          "FunctionName": "arn:aws:lambda:us-east-1:381491949871:function:summaryProcessingLambdaTest:$LATEST"
        },
        "Retry": [
          {
            "ErrorEquals": [
              "States.ALL"
            ],
            "IntervalSeconds": 5,
            "MaxAttempts": 3,
            "BackoffRate": 2,
            "MaxDelaySeconds": 120,
            "JitterStrategy": "FULL"
          }
        ],
        "Catch": [
          {
            "ErrorEquals": [
              "States.ALL"
            ],
            "Next": "FailState",
            "ResultPath": "$.error-info"
          }
        ],
        "TimeoutSeconds": 300,
        "Next": "SummaryResultDataTransferTaksTEST"
      },
      "SummaryResultDataTransferTaksTEST": {
        "Type": "Task",
        "Resource": "arn:aws:states:::ecs:runTask.sync",
        "Parameters": {
          "LaunchType": "FARGATE",
          "Cluster": "arn:aws:ecs:us-east-1:381491949871:cluster/styx-nlp-server",
          "TaskDefinition": "arn:aws:ecs:us-east-1:381491949871:task-definition/summary-result-data-transfer-test:4",
          "NetworkConfiguration": {
            "AwsvpcConfiguration": {
              "Subnets": [
                "subnet-0de64508bed2d94b5",
                "subnet-0b34bfb024fa1325b",
                "subnet-0896b9f71c46c3601",
                "subnet-02748651014762c9c",
                "subnet-01fc8731fbcc2def3",
                "subnet-00f05101da53ee352"
              ],
              "SecurityGroups": [
                "sg-03682fe5c7a94d94f"
              ],
              "AssignPublicIp": "ENABLED"
            }
          }
        },
        "Retry": [
          {
            "ErrorEquals": [
              "States.ALL"
            ],
            "BackoffRate": 2,
            "IntervalSeconds": 5,
            "MaxAttempts": 3,
            "MaxDelaySeconds": 120,
            "JitterStrategy": "FULL"
          }
        ],
        "Catch": [
          {
            "ErrorEquals": [
              "States.ALL"
            ],
            "Next": "FailState",
            "ResultPath": "$.error-info"
          }
        ],
        "TimeoutSeconds": 300,
        "End": true
      }
    }
  }